.logo {
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    background-color: grey;
    border-radius: 90px;
    font-size: x-large;
}

body {
    text-align: center;
    margin: auto;
}

.opcoes {
    text-align: center;
    font-size: xx-large;
    background-color: grey;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 90px;
}

.opcoes .linha {
    text-align: center;
    color: black;
}

.opcoes .linha p {
    background-color: rgb(167, 163, 163);
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    position: inherit;
}

.opcoes .linha select {
    font-size: x-large;
    margin-top: auto;
    text-align: center;
    border-radius: 10px;
    background-color: grey;
    color: white;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.opcoes .linha select option {
    border-radius: 100px;
    background-color: white;
    font-size: x-large;
    background-color: grey;
}

button {
    position: center;
    background-color: black !important;
    border-radius: 50px;
    color: white;
}