.App {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin: 0px auto;
    width: 80%;
    position: relative;

}

html {
    background-color: grey;
}

body {
    margin: auto;
    width: 90%;
    position: relative;
    display: block;
    text-align: center;
}

#root {
    background-color: grey;
}

.logo {
    color: black;
    font-family: Helvetica;
    display: block;
    width: center;
    height: fit-content;
    text-align: center;
}

.opcoes {
    background-color: rgb(24, 10, 101);
    text-align: center;
    text-transform: uppercase;
    text-indent: 10px;
    letter-spacing: 1px;
    padding: 150px 100px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    border-radius: 80px;
    margin: 40px auto;
    width: 50%;
    font-family: Helvetica;
}

.linha{
    color: black;
    display: flex;
}

p{
    text-align: left;
    line-height: 25px;
}

button {
    width: 140px !important;
    height: 45px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 11px !important;
    text-transform: uppercase !important;
    letter-spacing: 2.5px !important;
    font-weight: 500 !important;
    color: rgb(24, 10, 101) !important;
    background-color: #fff !important;
    border: none !important;
    border-radius: 45px !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease 0s !important;
    cursor: pointer !important;
    outline: none !important;
}

button:hover {
    background-color: rgb(21, 255, 0) !important;
    box-shadow: 0px 15px 20px rgba(15, 171, 41, 0.341) !important;
    color: #fff !important;
    transform: translateY(-7px) !important;
}