
.App {
    background-color: #FFFFFF;
    border: none;
    color: #439603;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 20px auto;
    width: 100%;
    position: relative;
    border-radius: 80px;
}

html {
    background-color: #FFFFFF;
}

body {
    margin: auto;
    width: 90%;
    position: relative;
    display: block;
    text-align: center;
}

#root {
    background-color: #FFFFFF;
}

 .logo {
    color: #439603;
    font-family: Helvetica;
    display: block;
    width: center;
    height:fit-content;
    text-align: center;
    margin-top: -100px;
} 

.opcoes {
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-indent: 10px;
    letter-spacing: 1px;
    padding: 150px 100px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    border-radius: 80px;
    margin: auto;
    height:400px ;
    width: 40%;
    font-family: Helvetica;
}

.linha {
    color: black;
    display: flex;
}

p {
    text-align: center;
    line-height: 20px;
    align-content: center; 
    display: inline-block;
}

button {
    width: 140px !important;
    height: 45px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 11px !important;
    text-transform: uppercase !important;
    letter-spacing: 2.5px !important;
    font-weight: 500 !important;
    color: #FFFFFF !important;
    background-color: #439603 !important;
    border: none !important;
    border-radius: 45px !important;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease 0s !important;
    cursor: pointer !important;
    outline: none !important;
}

button:hover {
    background-color: #439603 !important;
    box-shadow: 0px 15px 20px #439603 !important;
    color: #FFFFFF !important;
    transform: translateY(-5px) !important;
}



.numLetras{
    width: 140px !important;
    height: 100px !important;
    align-content: center;    
    display: inline-block;
}

.numPalavras{
    width: 140px !important;
    height: 100px !important;
    display: inline-block;
}

.numTentativas{
    width: 140px !important;
    height: 100px !important;
    display: inline-block;
}